<div id="favouritesContainer">
  <div id="TitleContainer" style="margin-left: auto; margin-right: auto; margin-top: 20px;">
    <h1 class="text-center">Groups</h1>
    <hr style="height: 0.5px"></hr>
    <a class="btn btn-outline-dark btn-sm" title="Add New Group" id="addNewGroup"
      style="margin-left: 2px; margin-right: 2px; color: #468e94;" href="/createGroup">
      <i class="fas fa-plus" style="font-size:20px; text-align: center; padding-left: 20px; padding-right: 20px;"></i>   
       </a>
  </div>

  <% if (haveGroups) { %>
    <form action='/viewGroup' method="get">
    <div id="findMyFriendsCards">
    <% groups.forEach(function (result_groups) { %>

<!--            <button type="submit" name="groupID" class="list-group-item list-group-item-action list-group-item-light"-->
<!--              style="color: #0a0a0a; overflow: hidden; height: 85px;" onclick="window.location.href='/result'" value="<%= result_groups.group_id %>">-->
<!--              Group Name: <%= result_groups.name %> ||-->
<!--              Count: <%= result_groups.count %> ||-->
<!--              Created: <%= new Date(result_groups.created).toDateString() %> ||-->
<!--              Last modified: <%= new Date(result_groups.modified).toDateString() %> ||-->
<!--            </button>-->

            <button class="genomeCard"
                    name="sampleSelection"
                    value="<%= result_groups.group_id %>"
                    onclick="window.location.href='/viewGroup'"
                    type="submit">
              <p></p>
              <div class="genomeCardSampleId"><h4><%= result_groups.name %></h4></div>
              <b>Description: </b><%= result_groups.description%><br>
              <b>Created: </b><%= new Date(result_groups.created).toDateString() %><br>
              <b>Last modified: </b><%= new Date(result_groups.modified).toDateString() %><br>
              <div class="geneticDistanceTag"><%= result_groups.count%></div>
              <p></p>
            </button>
    <% }) %>
    </div>
    </form>
  <% } else { %>

  <button type="button" class="list-group-item list-group-item-action list-group-item-light" style="color: #0a0a0a" disabled="">
    No groups found.
  </button>
  <% } %>
</div>

<script>
  function tag_label() {
    tags = document.getElementsByClassName("geneticDistanceTag");
    cards = document.getElementsByClassName("genomeCard");

    for (i = 0; i < tags.length; i++) {
      tag = tags[i];
      card = cards[i];
      tag.setAttribute("style", `z-index: 1; top: ${ - 1 * 0.5 * tag.clientHeight }px; left: ${ 0.5 * card.clientWidth }px; width: ${ 0.6 * card.clientWidth }px;`);
    }
    console.log("Fixing");
  }
  tag_label();
  window.onresize = () => {
    tag_label();
  };
</script>
