<%/*
    RESULT CONTENT - /result?sampleSelection=sampleID

    @param {String} sample_ID               - The sample ID or name of the sample
    @param {bool} userLoggedIn              - True if the user is logged in
    @param {dict} summary                   - Summary data to display at top of page as key: value
    @param {dict} result_assembly_summary   - Assembly Data Summary to display in dropdown
    @param {dict} 

*/%>

<div id="page-container">

    <div class="resultsPageTopComponent">
        <h5 style="text-align: center; margin-top: 5px;">
            Bactopia data output <br>
        </h5>

        <h1 style="text-align: center; margin-top: -10px;">
            Sample <%- sample_ID %>
        </h1>

        <!--Check if the user is logged in-->
        <% if (userLoggedIn) { %>
            <div id="favDiv" style="margin-left: auto; margin-right: auto; width: 50px; margin-bottom: 6px;">

            </div>
            <form method="POST" id="favoriteButtonForm">
                <button type="submit" class="btn btn-outline-dark btn-sm" title="Favorite Button"
                        id="favoriteButton" style="margin-left: 2px; margin-right: 2px; color: <%= isFavourited ? "#cf2b51" : "#ebebeb" %>;">
                    <i id ="favoriteButtonHeart" class="fas fa-heart"
                       style="font-size:20px; text-align: center; padding-left: 20px; padding-right: 20px;"></i>
                </button>
            </form>

            <!--  Groups code that has been commented out as was causing errors -->
            
            <% sample_groups.forEach(function (group) { %>
                <button onclick="remGroup(this.value)" value=<%= group.group_id%> class="groupLabel">
                    <%= group.name %>
                </button>
            <% }) %>

        <div class="dropdown">
            <button id="downloadButton" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Add to Group
            </button>
            <div id="groupDropDownMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% avail_groups.filter(g => !in_groups.includes(g)).forEach(function (group) { %>
                    <button class="dropDownButton" onclick="addToGroup(this.value)" value=<%= group.group_id %>>
                        <%= group.name %>
                    </button>
                <% }) %>
                <button class="dropDownButton" onclick="addToGroup(this.value)" value="create">
                    Create new group
                </button>
            </div>
            <button type="button" id="downloadSampleInfo" onclick="downloadInfo()" title="Download Sample Information"
                    class="btn btn-outline-dark btn-sm">
                <i class="fas fa-download" style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
            </button>
            <button type="button" id="downloadButton" onclick="window.location.href='/addMetadata'" aria-haspopup="true" aria-expanded="false">
                Update Metadata
            </button>
        </div>
        <!--  close favDiv -->
        <% } else { %>
          <button type="button" id="downloadSampleInfo" onclick="downloadInfo()" title="Download Sample Information"
                  class="btn btn-outline-dark btn-sm">
              <i class="fas fa-download" style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
          </button>
        <% } %>
        <!-- close if userLogged in -->

        <!-- Sample summary information -->
        <hr style="width: 55%; margin-top: -2px"></hr>
        <h4 style="text-align: center"> Summary </h4>
        <!--as a table -->
        <table class="summaryTable">
            <% Object.keys(summary).forEach(function (key) { %>
            <tr>
                <td><b><%= key %></b></td>
                <td>
                    <%= summary[key] %>
                </td>
            </tr>
            <% }) %>
            <% Object.keys(userMeta).forEach(function (key) { %>
            <tr>
                <td><b><%= key %></b></td>
                <td>
                    <%= userMeta[key] %>
                </td>
            </tr>
            <% }) %>
        </table>
        <hr style="width: 55%">


        </hr>
        <h3 style="text-align: center" style="margin-top: 1em;"> Sample Information
        </h3>

    </div>

    <div id="resultsPageSampleExpandableInformation">
    <% /* %>
      <button type="button" class="collapsible"><span class="material-icons v">keyboard_arrow_down</span>Tags</button>
      <div class="sectionContent">
        <table class="adjustedTable">
            <% tag_tag.forEach(function (result_tag_tag) { %>
            <tr>
                <td><b>Tag:</b></td>
                <td>
                    <%= result_tag_tag.tag %>
                </td>
            </tr>
            <tr>
                <td><b>Comment:</b></td>
                <td>
                    <%= result_tag_tag.comment %>
                </td>
            </tr>
            <% }) %>
        </table>
      </div>

      <button type="button" class="collapsible"><span class="material-icons v">keyboard_arrow_down</span>Metadata</button>
      <div class="sectionContent" id="Metadata">
          <% include ../snippets/resultMetadata %>
      </div>

    <% */ %>
      <button type="button" class="collapsible"><span class="material-icons v">keyboard_arrow_down</span>Sequencing Metrics</button>
      <div class="sectionContent" id="Sequencing">
        <% include ../snippets/resultSequence %>
      </div>

      <button type="button" class="collapsible"><span class="material-icons v">keyboard_arrow_down</span>Assembly Metrics</button>
      <div class="sectionContent" id="Assembly">
        <% include ../snippets/resultAssembly %>
      </div>

    <% if (locals.mlst) { %>
      <button type="button" class="collapsible"><span class="material-icons v">keyboard_arrow_down</span>MLST</button>
      <div class="sectionContent" id="MLST">
        <table style="width: 100%;">
            <tr> 
                <td><b>Filename </b></td>
                <td colspan=<%= mlst.alleles ? mlst.alleles.length : 1%>><%= mlst.filename %></td>
            </tr>
            <tr> 
                <td><b>PubMLST Scheme </b></td>
                <td colspan=<%= mlst.alleles ? mlst.alleles.length : 1%>><%= mlst.scheme %></td>
            </tr>
            <tr> 
                <td><b>Sequence Type</b></td>
                <td colspan=<%= mlst.alleles ? mlst.alleles.length : 1%>><%= mlst.sequence_type %></td>
            </tr>
            <tr> 
                <td><b>Allele IDs</b></td>
                <% mlst.alleles.forEach(allele => { %>
                <td><%=allele%></td>
                <% }) %>
            </tr>
        </table>
      </div>
    <% } %>

    <% if (locals.annotations){ %>
      <button type="button" class="collapsible"><span class="material-icons v">keyboard_arrow_down</span>Annotations</button>
      <div class="sectionContent" id="Assembly">
        <% include ../snippets/resultAnnotations %>
      </div>
    <% } %>

    <% /* %>
      <button type="button" class="collapsible"><span class="material-icons v">keyboard_arrow_down</span>SCCmec Primer Hits</button>
      <div class="sectionContent"  id="Sccmec_Primers">
        <% include ../snippets/resultSccmecPrimers %>
      </div>

      <button type="button" class="collapsible"><span class="material-icons v">keyboard_arrow_down</span>SCCmec Subtype Hits</button>
      <div class="sectionContent" id="Sccmec_Subtypes">
        <% include ../snippets/resultSccmecSubtypes %>
      </div>

      <button type="button" class="collapsible"><span class="material-icons v">keyboard_arrow_down</span>SCCmec Protein Hits</button>
      <div class="sectionContent" id="Sccmec_Proteins">
          <% include ../snippets/resultSccmecProteins.ejs %>
      </div>
    </div>
    <% */ %>

    <!--Result page interactive element-->
    <div id="resultsPageGraphComponents">
        <div id="resultsPageGraphComponent1">
            <h6 id="displayDescription">Functional network of related genomes and genomic interaction</h6>
        </div>
        <!-- close resultsPageGraphComponent1 -->

        <div id="resultsPageGraphComponent2">
            <div id="interactiveGraph">
                <button type="button" id="centerGraph" onclick="centerCy()" title="Center graph"
                        class="btn btn-outline-dark btn-sm">
                    <i class="fas fa-expand" style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </button>
                <button type="button" id="downloadGraph" onclick="saveCy()" title="Download current view"
                        class="btn btn-outline-dark btn-sm">
                    <i class="fas fa-file-image" style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </button>
                <button type="button" id="zoomInGraph" onclick="zoomInCy()" title="Zoom in on graph"
                        class="btn btn-outline-dark btn-sm">
                    <i class="fa fa-search-plus" style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </button>
                <button type="button" id="zoomOutGraph" onclick="zoomOutCy()" title="Zoom out on graph"
                        class="btn btn-outline-dark btn-sm">
                    <i class="fa fa-search-minus" style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </button>
                <a href="#interactiveGraph" id="expandGraph" onclick="fullScreenCy()" title="Make graph full screen"
                   class="btn btn-outline-dark btn-sm">
                    <i class="fas fa-long-arrow-alt-up"
                       style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </a>
                <button type="button" id="minimizeGraph" onclick="minimizeCy()"
                        title="Minimize graph to original size" class="btn btn-outline-dark btn-sm">
                    <i class="fas fa-long-arrow-alt-down"
                       style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </button>
                <% if (userLoggedIn) { %>
                <div class="dropdown">
                    <button id="downloadButton" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Add visible samples to Group
                    </button>
                    <div id="groupDropDownMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% avail_groups.forEach(function (group) { %>
                            <button class="dropDownButton" onclick="addSamplesToGroup(this.value)" value=<%= group.group_id %>>
                                <%= group.name %>
                            </button>
                        <% }) %>
                        <button class="dropDownButton" onclick="addToGroup(this.value)" value="create">
                            Create new group
                        </button>
                    </div>
                </div>
                <% } %>
            </div>
            <div id="cyLegend">
                <div class="legend" onclick="changeConnection('isolation_location', this)">
                    <div class="legendColorSquare" style="background-color: red;"></div>
                    <p id="locLegend" class="cyLegendText"> Same Location </p>
                    <div class="cyLegendSpacer"></div>
                </div>

                <div class="legend" onclick="changeConnection('species', this)">
                    <div class="legendColorSquare" style="background-color: teal;"></div>
                    <p id="seqLegend" class="cyLegendText"> Same Species</p>
                    <div class="cyLegendSpacer"></div>
                </div>

                <div class="legend" onclick="changeConnection('isolation_host', this)">
                    <div class="legendColorSquare" style="background-color: blue;"></div>
                    <p id="hostLegend" class="cyLegendText"> Same Host </p>
                    <div class="cyLegendSpacer"></div>
                </div>

                <div class="legend" onclick="changeConnection('sequence_type', this)">
                    <div class="legendColorSquare" style="background-color: green;"></div>
                    <p id="seqLegend" class="cyLegendText"> Same Sequence Type </p>
                    <div class="cyLegendSpacer"></div>
                </div>

                <br>

                <div class="legend" onclick="changeConnection('isolation_source', this)">
                    <div class="legendColorSquare" style="background-color: orange;"></div>
                    <p id="isoLegend" class="cyLegendText"> Same Isolation Source </p>
                    <div class="cyLegendSpacer"></div>
                </div>

                <div class="legend" onclick="changeConnection('time_of_sampling', this)">
                    <div class="legendColorSquare" style="background-color: purple;"></div>
                    <p id="isoLegend" class="cyLegendText"> Same Sampling Time </p>
                </div>
            </div>

        </div>
        <!-- close resultsPageGraphComponent2 -->

        <div id="resultsPageGraphComponent3">
            <div id="cy"></div>
        </div>
        <!-- close resultsPageGraphComponent3 -->

        <div id="resultsPageGraphComponent4" style="text-align: center;">
            <div class="weightedDistanceSliders">
                <p id="weighteddistnum">Minimum Connections = <span id="minCon">1</span></p>
                <input type="range" min="1" max="5" value="1" class="slider" id="cyMinConnections" 
                    oninput="document.getElementById('minCon').innerHTML=this.value;updateCytoscape()"
                    ></input>
            </div>

            <div class="weightedDistanceSliders">

                <p id="weighteddist2num">Maximum Weighted Distance = <span id="maxDist">1</span></p>
                <input type="range" min="0" max="1" step="0.01" value="1" class="slider" id="cyMaxDistance" 
                    oninput="document.getElementById('maxDist').innerHTML=this.value;updateCytoscape()"
                    ></input>

            </div>

            <div class="weightedDistanceSliders">
                <p id="weighteddist3num">Include If Distance Unavailable</p>
                <input type="checkbox" id="cyIncludeNoDistance" checked="true" onclick="updateCytoscape()"></input>
            </div>

        </div>
    </div>
        <!-- close resultsPageGraphComponent4 -->

        <!-- close resultsPageResultComponents -->
        <div id="resultsPageGraphComponent5" style="text-align: center;">

          <h3 style="text-align: center">Find My Friends</h3>

          <p>Discover Close Genomes Based On Distance</p>

          <% include ../snippets/rangedSliderGeneticDistance.ejs %>

          <form action='/result' method="get"><div id="findMyFriendsCards"></div></form>

        </div>
        <!-- close resultsPageGraphComponent5 -->


    <div id="imageTitleDiv"
         style="width: 100%; font-size: 20px; text-align: center; margin-bottom: 20px; margin-top: 20px;"></div>
    <img id="saveableGraphImage">

    <% include ../snippets/resultScripts.ejs %>
    <!-- Scripts for downloading the sample information 
    < include ../snippets/saveCsvScript.ejs %>
    -->

</div>
