<div id="page-container">

    <div class="resultsPageTopComponent">
        <h5 style="text-align: center; margin-top: 5px;">
            Staphlyococcus Aureus <br>
        </h5>

        <h1 style="text-align: center; margin-top: -10px;">
            Sample: <%- sample_ID %>
        </h1>

        <!--Check if the user is logged in-->
        <% if (userLoggedIn) { %>

        <div id="favDiv" style="margin-left: auto; margin-right: auto; width: 50px; margin-bottom: 6px;">
            <% if (isFavourited == 1) { %>
            <form method="POST">
                <button type="submit" class="btn btn-outline-dark btn-sm" title="Unfavorite Sample"
                        id="unfavouriteSample" style="margin-left: 2px; margin-right: 2px; color: #468e94;">
                    <i class="fas fa-heart"
                       style="font-size:20px; text-align: center; padding-left: 20px; padding-right: 20px;"></i>
                </button>
            </form>
            <% } else if (isFavourited == 0) { %>
            <form method="POST">

                <button type="submit" class="btn btn-outline-dark btn-sm" title="Favorite Sample" id="favouriteSample"
                        style="margin-left: 2px; margin-right: 2px; color: #468e94;">
                    <i class="far fa-heart"
                       style="font-size:20px; text-align: center; padding-left: 20px; padding-right: 20px;"></i>
                </button>
            </form>
            <% } %>
        </div>
        <!--  close favDiv -->
        <% } %>
        <!-- close if userLogged in -->

        <!-- Sample summary information -->
        <hr style="width: 55%; margin-top: -2px"></hr>
        <h4 style="text-align: center"> Summary </h4>
        <p class="summaryInfo">
            <% mlst_mlst.forEach(function (result_mlst_mlst) { %>
            <b>Sequence Type:</b> <%= result_mlst_mlst.st %>
            <% }) %>
            <br>
            <% sample_metadata.forEach(function (result_sample_metadata) { %>
            <b>Location:</b> <%= result_sample_metadata.metadata.country %>
            <br>
            <b>Strain:</b> <%= result_sample_metadata.metadata.strain %>
            <br>
            <b>Host:</b> <%= result_sample_metadata.metadata.host %>
            <br>
            <b>Isolation Source:</b> <%= result_sample_metadata.metadata.isolation_source %>
            <br>
            <b>Scientific Name:</b> <%= result_sample_metadata.metadata.scientific_name %>
            <br>
            <% }) %>
            <% tag_tag.forEach(function (result_tag_tag) { %>
            <b>Comment:</b> <%= result_tag_tag.comment %>
            <% }) %>
        </p>
        <hr style="width: 55%">


        </hr>
        <h3 style="text-align: center"> Sample Information
            <button type="button" id="downloadSampleInfo" onclick="downloadInfo()" title="Download Sample Information"
                    class="btn btn-outline-dark btn-sm">
                <i class="fas fa-download" style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
            </button>
        </h3>

    </div>

    <div id="resultsPageTableComponent">

        <div class="tab">
            <!--Information category tabs-->
            <button class="tablinks active" onclick="resultsTabs(event, 'Tags')" title="">Tags</button>
            <button class="tablinks" onclick="resultsTabs(event, 'Metadata')" title="">Metadata</button>
            <button class="tablinks" onclick="resultsTabs(event, 'Sequencing')" title="">Sequencing Metrics</button>
            <button class="tablinks" onclick="resultsTabs(event, 'Assembly')" title="">Assembly Metrics</button>
            <button class="tablinks" onclick="resultsTabs(event, 'MLST')" title="">MLST</button>
            <button class="tablinks" onclick="resultsTabs(event, 'Sccmec_Primers')" title="">SCCmec Primer Hits</button>
            <button class="tablinks" onclick="resultsTabs(event, 'Sccmec_Subtypes')" title="">SCCmec Subtype Hits
            </button>
            <button class="tablinks" onclick="resultsTabs(event, 'Sccmec_Proteins')" title="">SCCmec Protein Hits
            </button>
        </div>

        <!--Information category tabs content-->
        <div id="Tags" class="tabcontent" style="display: block;">
            <table class="adjustedTable">
                <% tag_tag.forEach(function (result_tag_tag) { %>
                <tr>
                    <td><b>Tag:</b></td>
                    <td>
                        <%= result_tag_tag.tag %>
                    </td>
                </tr>
                <tr>
                    <td><b>Comment:</b></td>
                    <td>
                        <%= result_tag_tag.comment %>
                    </td>
                </tr>
                <% }) %>
            </table>
        </div>

        <div id="Metadata" class="tabcontent">
            <% include ../snippets/resultMetadata %>
        </div>

        <div id="Sequencing" class="tabcontent">
            <% include ../snippets/resultSequence %>
        </div>

        <div id="Assembly" class="tabcontent">
            <% include ../snippets/resultAssembly %>
        </div>

        <div id="MLST" class="tabcontent">
            <table style="width: 100%;">
                <% mlst_mlst.forEach(function (result_mlst_mlst) { %>
                <tr>
                    <td><b>st:</b></td>
                    <td>
                        <%= result_mlst_mlst.st %>
                    </td>
                </tr>
                <tr>
                    <td><b>ariba:</b></td>
                    <td>
                        <%= result_mlst_mlst.ariba %>
                    </td>
                </tr>
                <tr>
                    <td><b>mentalist:</b></td>
                    <td>
                        <%= result_mlst_mlst.mentalist %>
                    </td>
                </tr>
                <tr>
                    <td><b>BLAST:</b></td>
                    <td>
                        <%= result_mlst_mlst.blast %>
                    </td>
                </tr>
                <% }) %>
            </table>
        </div>

        <div id="Sccmec_Primers" class="tabcontent">
            <% include ../snippets/resultSccmecPrimers %>
        </div>

        <div id="Sccmec_Subtypes" class="tabcontent">
            <% include ../snippets/resultSccmecSubtypes %>
        </div>

        <div id="Sccmec_Proteins" class="tabcontent">
            <% include ../snippets/resultSccmecProteins.ejs %>
        </div>
    </div>

    <!--Result page interactive element-->
    <div id="resultsPageGraphComponents">
        <div id="resultsPageGraphComponent1">
            <h6 id="displayDescription">Functional network of related genomes and genomic interaction</h6>
        </div>
        <!-- close resultsPageGraphComponent1 -->

        <div id="resultsPageGraphComponent2">
            <div id="interactiveGraph">
                <button type="button" id="centerGraph" onclick="centerGraph()" title="Center graph"
                        class="btn btn-outline-dark btn-sm">
                    <i class="fas fa-expand" style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </button>
                <a href="#saveableGraphImage" id="downloadGraph" onclick="downloadGraph()"
                   title="Create .png file of current graph" class="btn btn-outline-dark btn-sm">
                    <i class="far fa-file-image" style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </a>
                <button type="button" id="zoomInGraph" onclick="zoomInGraph()" title="Zoom in on graph"
                        class="btn btn-outline-dark btn-sm">
                    <i class="fa fa-search-plus" style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </button>
                <button type="button" id="zoomOutGraph" onclick="zoomOutGraph()" title="Zoom out on graph"
                        class="btn btn-outline-dark btn-sm">
                    <i class="fa fa-search-minus" style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </button>
                <a href="#interactiveGraph" id="expandGraph" onclick="expandGraph()" title="Make graph full screen"
                   class="btn btn-outline-dark btn-sm">
                    <i class="fas fa-long-arrow-alt-up"
                       style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </a>
                <button type="button" id="minimizeGraph" onclick="minimizeGraph()"
                        title="Minimize graph to original size" class="btn btn-outline-dark btn-sm">
                    <i class="fas fa-long-arrow-alt-down"
                       style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </button>
            </div>
            <div id="cyLegend">
                <p id="cyLegendTitle"><b> Legend</b></p>
                <p id="cyLegendDivider"> | </p>
                <div class="legendColorSquare" style="background-color: red;"></div>
                <p id="cyLegendText"> Same Location </p>
                <div class="cyLegendSpacer"></div>

                <div class="legendColorSquare" style="background-color: blue;"></div>
                <p id="cyLegendText"> Same Host </p>
                <div class="cyLegendSpacer"></div>

                <div class="legendColorSquare" style="background-color: green;"></div>
                <p id="cyLegendText"> Same Sequence Type </p>
                <div class="cyLegendSpacer"></div>

                <div class="legendColorSquare" style="background-color: orange;"></div>
                <p id="cyLegendText"> Same Isolation Source </p>

            </div>

        </div>
        <!-- close resultsPageGraphComponent2 -->

        <div id="resultsPageGraphComponent3">

            <div id="cy"></div>
        </div>
        <!-- close resultsPageGraphComponent3 -->

        <div id="resultsPageGraphComponent4" style="text-align: center;">
            <div class="weightedDistanceSliders">
                <p id="weighteddistnum">Minimum Connections = 2</p>
                <input type="range" min="1" max="4" value="2" class="slider" id="myRange1" oninput="changeDist()"
                       style="width: 40%; "></input>
            </div>

            <div class="weightedDistanceSliders">

                <p id="weighteddist2num">Maximum Weighted Distance = 0.0150</p>
                <input type="range" min="0" max="300" value="150" class="slider" id="myRange2" oninput="changeDist()"
                       style="width: 60%; "></input>

            </div>

        </div>
        <!-- close resultsPageGraphComponent4 -->
    </div>
    <!-- close resultsPageResultComponents -->

    <div id="resultsPageGraphComponent5" style="text-align: center;">

      <h3 style="text-align: center">Find My Friends</h3>

      <p>Finding genetically related genomes from a distance of <span id="minGeneticDist">0.00</span> to <span id="maxGeneticDist">0.0150</span></p>

      <% include ../snippets/rangedSliderGeneticDistance.ejs %>

      <form action='/result' method="get"><div id="findMyFriendsCards"></div></form>

      <!-- include ../snippets/resultGeneticDistanceFriends.ejs %>

      <!-- TODO: Run knex on slider -->

      <!-- TODO: include the resultFindMyFriendsCards-->

    </div>
    <!-- close resultsPageGraphComponent5 -->

    <div id="imageTitleDiv"
         style="width: 100%; font-size: 20px; text-align: center; margin-bottom: 20px; margin-top: 20px;"></div>
    <img id="saveableGraphImage">

    <!-- Scripts for result page functionality -->
    <% include ../snippets/resultScripts.ejs %>
    <!-- Scripts for downloading the sample information -->
    <% include ../snippets/saveCsvScript.ejs %>

</div>
